{:sources ["src" "resources"]

 :deps
 {org.clojure/clojure                             {:mvn/version "1.10.3"}
  org.clojure/core.async                          {:mvn/version "1.3.618"}

  ;; dependency injection
  integrant/integrant                             {:mvn/version "0.8.0"}

  ;; Lacinia/Pedestal for GraphQL
  com.walmartlabs/lacinia                         {:mvn/version "0.38.0"}
  com.walmartlabs/lacinia-pedestal                {:mvn/version "0.15.0"}

  ;; Hodur for schema parsing
  hodur/engine                                    {:mvn/version "0.1.8"}
  hodur/lacinia-schema                            {:mvn/version "0.1.2"}

  ;; GPIO stuff
  io.helins/linux.gpio                            {:mvn/version "2.0.1"}
  io.helins/linux.i2c                             {:mvn/version "2.0.0"}

  ;; Logging
  com.taoensso/timbre                             {:mvn/version "5.1.2"}
  org.slf4j/slf4j-nop                             {:mvn/version "2.0.0-alpha1"}

  ;; utilities
  metosin/jsonista                                {:mvn/version "0.3.3"}
  camel-snake-kebab/camel-snake-kebab             {:mvn/version "0.4.2"}
  luchiniatwork/ambiente                          {:mvn/version "0.1.4"}}

 :aliases
 {:cider {:extra-deps
          {nrepl/nrepl                                   {:mvn/version "0.6.0"}
           cider/cider-nrepl                             {:mvn/version "0.25.9"}}
          :main-opts
          ["-m" "nrepl.cmdline"
           "--middleware" "[\"cider.nrepl/cider-middleware\"]"
           "--port" "55000"]}

  :dev {:extra-paths ["dev"]
        :extra-deps
        {integrant/repl                                 {:mvn/version "0.3.1"}}}

  :test {:extra-paths ["test"]
         :extra-deps
         {lambdaisland/kaocha                           {:mvn/version "1.0.732"}}
         :main-opts
         ["-m" "kaocha.runner"]}}}
